%h1.sectionTitle Startups
%p.content-block If you're a startup, once a week you'll get an email with talented technical and non-technical students eager to work at your startup.  It's totally free to use, so go hire some students.
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f|
    = devise_error_messages!
    .border-form-div
        %h4 Create a startup account
        = f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email'
        = f.password_field :password, :class => 'form-control', :placeholder => 'Password'
        = f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm Password'
        = f.text_field :name, :class => 'form-control', :placeholder => 'Company Name'
        = f.url_field :website, :class => 'form-control', :placeholder => 'Website'
        = f.hidden_field :orgtype, {value: "startup"}
        = f.submit "Sign up", :class => 'btn btn-primary'
        %br
        = render "devise/shared/links"