.container.banner
  .col-lg-12
    %h1.page-header
      Jobs
.container
  .row
    .col-md-4.portfolio-item
      %a{href: "http://jobs.techstars.com"}
        %img= link_to image_tag("TechStars.png",:class => "img-responsive"), "http://jobs.techstars.com"
      %h3
        %a{href: "http://jobs.techstars.com"}
          .black Techstars 
      %p TechStars also lists jobs available with their program graduates, including Next Big Sound, Occipital, and SendGrid.
    .col-md-4.portfolio-item
      %a{href: "http://www.foundrygroup.com/jobs/"}
        %img= link_to image_tag("FoundryGroup.png",:class => "img-responsive"), "http://www.foundrygroup.com/jobs/"
      %h3
        %a{href: "http://www.foundrygroup.com/jobs/"}
          .black Foundry Group 
      %p The Foundry Group lists jobs in their portfolio companies, from Admeld to Zynga.
    .col-md-4.portfolio-item
      %a{href: "http://www.bdnewtech.com/hiring"}
        %img= link_to image_tag("NewTech.png",:class => "img-responsive", :style => "margin-bottom:170px; margin-top:151px"), "http://www.bdnewtech.com/hiring"
      %h3
        %a{href: "http://www.bdnewtech.com/hiring"}
          .black New Tech Colorado
      %p The Boulder New Tech Meetup Jobs Board is a hotbed of technology jobs. Programmers, designers and online marketers rejoice!
    .col-md-4.portfolio-item
      %a{href: "http://www.boulderdowntown.com/business/job-listings"}
        %img= link_to image_tag("DownTownBoulder.png",:class => "img-responsive", :style => "margin-bottom:90px; margin-top:70px"), "http://www.boulderdowntown.com/business/job-listings"
      %h3
        %a{href: "http://www.boulderdowntown.com/business/job-listings"}
          .black Down Town Boulder
      %p Downtown Boulder updates their list of jobs from the local community and Craigslist every Monday, keeping it current and loaded with great positions of every kind, from baristas to bus drivers to business development specialists.
    .col-md-4.portfolio-item
      %a{href: "http://boulder.me/"}
        %img= link_to image_tag("BoulderMe.png",:class => "img-responsive", :style => "margin-bottom:130px; margin-top:90px"), "http://boulder.me/"
      %h3
        %a{href: "http://boulder.me/"}
          .black Boulder.me
      %p Boulder.me is an organization devoted to informing and serving the vibrant startup community in beautiful Boulder, Colorado. We do that on the website; on Twitter, and with outreach and events all year long. There is also a job listing service on the site.
    .col-md-4.portfolio-item
      %a{href: "http://careerservices.colorado.edu/students/CareerBuffs.aspx"}
        %img= link_to image_tag("CUCareer.png",:class => "img-responsive", :style => "margin-bottom:170px; margin-top:151px"), "http://careerservices.colorado.edu/students/CareerBuffs.aspx"
      %h3
        %a{href: "http://careerservices.colorado.edu/students/CareerBuffs.aspx"}
          .black CU Career Services
      %p CU Career Services is a broad resource for CU students.
  .row
    .col-md-4.portfolio-item
      %a{href: "interns2startups"}
        %img=link_to(image_tag("interns2startups.png", :class => "img-responsive", :style => "margin-top: 61px; margin-bottom: 61px"), "http://www.interns2startups.com/startup-signup")
      %h3
        %a{href: "interns2startups"}
          .black Interns2Startups
      %p Students:  Get a job at a local startup!
      %p Startups:  Find local talent for your companies!