%header.navbar.navbar-fixed-top.navbar-default
  .navbar-inner
    .container
      = link_to "Boulder Startups", root_path, id: "logo"
      %ul.nav.navbar-nav.navbar-right
        %li=link_to "Blogs", blog_path, :class => 'black'
        %li= link_to "Events", events_path, :class => 'black'
        %li= link_to "Resources", resources_path, :class => 'black'
        - if user_signed_in?
          %li= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'black'
        - else
          %li= link_to 'Login', new_user_session_path, :class => 'black'